<p> </p>
<p>To play enter '/letsplay/' followed by player 1's choice of 'rock/', 'paper/' or 'scissors/', then followed by player 2's choice of 'rock', 'paper' or 'scissors'.</p>

<h1><%= @game_output %> with Player 1 playing <%= @p1_input %> and Player 2 playing <%= @p2_input %></h1>