<h1>Rules</h1>

<ul>
  <li>Player 1 inputs rock, paper or scissors.</li>
  <li>Player 2 inputs rock, paper or scissors.</li>
  <li>Press enter.</li>
</ul>
<p>   </p>
<ul>
  <li>Rock beats scissors.</li>
  <li>Paper beats rock.</li>
  <li>Scissors beats paper.</li>
  <li>Any two of the same results in a draw.</li>
</ul>